[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
mako = "==1.2.4"
sqlalchemy = "==2.0.21"

[dev-packages]
pytest = "*"
ipython = "*"


[requires]
python_version = "3.11"
